.ag-header-cell-text{
    margin: auto;
}

.dropdown-toggle{
    width: 95% !important;
    text-align: left !important;
}

.dropdown-menu {
    width: 95% !important;
}

.searchLabel{
    font-size:smaller;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 10px;
    
}

.city{
    border:0 !important;
    border-bottom:2px solid #00d09c !important ;
    border-radius: 0% !important;
    
}
.category{
    border:0 !important;
    border-bottom:2px solid #00d09c !important ;
    border-radius: 0% !important;
    
}

.searchBox{
    border-bottom: 2px solid #00d09c;
}
.menu-option {
    font-size: 20px;
    margin-left: 12px;
    padding: 6px;
    cursor: pointer;
    color:black !important;
   
}

/* .navAllTable{
    padding-left:100px !important;
} */
/* .navFavourite{
    margin-left:30% !important;
} */

.navHeading{
    font-family:Arial, Helvetica, sans-serif !important;
    font-weight:bolder !important;
    color:#00d09c !important;
}




a.active_class{
    color:black;
    border-bottom: 2px solid #00d09c;
   
}

.fav{
    padding: 0;
border: none;
background: none;
outline:none;

}


@media only screen and (max-width: 800px){
    .col-6{
        width: 100% !important;
    }
    .col-3{
        width: 50% !important;
    }
}